body{
    display: none;
    background: rgb(46, 199, 255);
    color: white;
    font-family: 'Open Sans', sans-serif;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

ul{
    list-style-type: none;
}

label{
    padding: 1em;
}
#compliment{
    margin: 0 auto;
    font-size: 4em;
    display: block;
    position: absolute;
    top: 50%;
    text-align: center;
    width: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 2px 2px rgba(0, 0, 0, 0.15);
}

#about{
    position: absolute;
    bottom: 0;
    font-size: 3em;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.15);
    opacity: .5;
    transition: all .1s;
    margin-bottom: 10px;
    margin-left: 1em;
    z-index: 100;
}

#about:hover {
    opacity: 1;
}

#myModal{
    color: #333333;
}

#photo-credit {
    bottom: 10px;
    position: fixed;
    margin: 0 auto;
    text-align: center;
    width: 100%;
    opacity: .65;
    transition: all .1s;
}

#photo-credit:hover {
    opacity: 1;
}